<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PingService.PingResponder">
        <endpoint address="http://localhost:8742/PingResponder"
              binding="webHttpBinding"
              contract="PingService.IPingResponder"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>